 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: 'Play', sans-serif;
  color: white;
  width: 100%;
  font-size: 10px;
}

// Welcome View

.welcome {
  width: 100%;
  height: 50rem;
  text-align: center;
  display: block;
  position: relative;
    h1{
      padding-top: 10rem;
      font-size: 5rem;
      text-outline: 2px 2px black;
    }
    h2{
      font-style: italic;
      font-size: 1.5rem;
    }
    h3{
      margin-top: 2rem;
      font-size: 1.5rem;
    }
    button{
      padding: 1rem;
      margin: 2rem;
      border-radius: 5%;
      background-color: #4183C4;
    }
    button:hover{
      text-decoration: underline;
    }
    a{
      text-decoration: none;
      padding: 1rem;
      color: white;
    }
}

.welcome::after {
  content: "";
  background: url('../images/beer-bottle.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

  // -webkit-filter: blur(2px);
  // -moz-filter: blur(2px);
  // -o-filter: blur(2px);
  // -ms-filter: blur(2px);
  // filter: blur(2px);   
}

// Add Beer View
.form{
  padding: 3rem;
}

.add-beer{
  width: 100%;
  background-color: #0E64B9;
}
.add-beer form{
  border: 0.2rem solid black;
  background-color: white;
  width: 50rem;
  margin: 0 auto;
  text-align: center;
    h1{
      color:black;
      font-size: 2rem;
    }
    input{
      width: 20rem;
      padding: 0.5rem;
      margin: 0.5rem;
      color:black;
      font-size: 1rem;
    }
    button{
      padding: 1rem;
      margin: 2rem;
      font-size: 1rem;
      border-radius: 5%;
      background-color: #4183C4;
    }
    span{
      color: white;
      font-size: 1rem;
      background-color: #4183C4;
      border-radius: 5%;
      padding: 1rem;
    }
    span:hover{
      cursor: pointer;
    }
}
.photoArea{
  margin: 3rem;
}
.beer-list{
  color: black;
}
.single-beer{
  float:left;
  clear:both;
  margin: 3rem 0 0 3rem;
  img{
    width: 13rem;
    height: auto;
    float:left;
  }
  .content{
    float:left;
    margin-left: 2rem;
  }
}


