<div class="add-beer">
	<div class="form">
		<form ng-submit="addBeer(beer)">
			<h1>Know a beer that you don't see on the list? Add it!</h1>
			<div class="photoArea">
				<img ng-src="{{ beerImage }}" alt=""></br>
      	<span class="uploadPhoto" ng-click="addImage()">Upload Photo</span>
			</div><br />
			<input ng-model="beer.name" type="text" placeholder="Name of Beer"> </br>
			<input ng-model="beer.type" type="text" placeholder="Type of Beer"> </br>
			<input ng-model="beer.brewer" type="text" placeholder="Brewer"> </br>
			<input ng-model="beer.location" type="text" placeholder="Brewer Location"> </br>
			<button>Add Beer</button>
		</form>
	</div>
</div>